.jktt-box {
    height: 80px;
    overflow: hidden;
    display: flex;
    padding: 10px 24px;
    background: #fff;
    .jktt-icon {
        flex: 0 0 80px;
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
        display: block;
        width: 100%;
        }
    }
    .jktt-list {
        font-size: 24px;
        flex: 1 1 56px;
        padding: 0 8px;
        height: 72px;
        overflow: hidden;
        .abc {
            padding: 5px 48px 5px 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            .jktt-type {
                display: inline-block;
                font-size: 16px;
                border: 2px solid #f34242;
                color: #f34242;
                border-radius: 4px;
                padding: 2px 4px;
            }
        }
    }
    

}