.page {
    padding: 1rem;
  }
  .page .tel-item {
    position: relative;
    border-bottom: 3px solid #efefef;
  }
  .inputStyle {
    width: 100%;
    border: none;
    height: 3.125rem;
    padding-left: 0.40625rem;
    font-size: 14px;
  }
  .page .register-bar {
    margin-top: 1.53rem;
  }
  .page .register-bar .register-btn {
    width: 100%;
    height: 2.04rem;
    line-height: 2.04rem;
    background-color: #20a0ff;
    border-radius: 2px;
    border: none;
    font-size: 14px;
    color: #e3f2ff;
  }
  .page .notice {
    margin-top: 0.51rem;
    font-size: 12px;
    padding-left: 0.45rem;
    color: #aaa;
  }
  .page .notice a {
    color: #2da2ff;
  }
  .hint{
    margin-top: 20rem;
    position: relative;
    width: 100%;
    display: none;
  }
  .suggest{
    background-color: rgba(55,55,55,.6);
    position: absolute;
    left: 20%;
    top: 50%;
    color: #fff;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    padding: 0.2rem;
    font-size: 1rem;
  }