.tab_bar {
  width: 100%;
  max-width: 960px;
  min-width: 320px;
  height: 100px;
  position: fixed;
  border-top: 2px solid #e3e3e3;
  bottom: 0;
  z-index: 999;
  background: #fff;
  display: flex;
  align-items: center;
}

.tab_bar .tab_bar_item {
  flex: 1;
  text-align: center;
  display: inline-block;
  color: #333;
}

.tab_bar .tab_bar_item:hover {
  color: #28b2f9;
}

.tab_bar .tab_bar_item i {
  font-size: 20px;
}

.tab_bar .tab_bar_item .iconfont {
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tab_bar .tab_bar_item p {
  font-size: 12px;
  margin-top: 2px;
}
