.classify-nav-box {
  width: 160px;
  position: fixed;
  height: 100%;
  padding-top: 180px;
  padding-bottom: 120px;
  top: 0;
  left: 0;
  overflow-y: auto;
  background: #f0f0f0;
  box-sizing: border-box;
}

.classify-nav-box .nav-list {
  text-align: center;
  letter-spacing: 2px;
}

.classify-nav-box .nav-list li {
  height: 96px;
  line-height: 96px;
  border-bottom: 2px solid #e6e6e6;
  overflow: hidden;
}

.classify-nav-box .nav-list .current {
  background: #fff;
  color: #1b8ffa;
  border-right: 2px solid #fff;
}
